---
import { Image } from "astro:assets";
import PSFLogo from "@assets/sponsors/psf-logo.webp";
import BankOfAgricultureLogo from "@assets/sponsors/bank_of_agriculture.webp";
import DataRockieLogo from "@assets/sponsors/data-rockie.webp";
import EventPopLogo from "@assets/sponsors/eventpop_primary_RGB.webp";
import ThaiProgrammerAssociationLogo from "@assets/sponsors/ThaiProgrammerAssociation.svg";
import MicrosoftLogo from "@assets/sponsors/Microsoft.webp";
import NattawatLogo from "@assets/sponsors/nattawat.png";
import LineSeparator from "@/components/react/ui/LineSeparator";
import OddsLogo from "@assets/sponsors/ODDS.png";
import SukjaiLogo from "@assets/sponsors/sukjai.jpg";
import MyOrderLogo from "@assets/sponsors/myorder.webp";
import CreatorsGartenLogo from "@assets/sponsors/creatorsgarten.svg";
import PacktLogo from "@assets/sponsors/packtpublishing.png";
import JirachaiMeLogo from "@assets/sponsors/Jirachai-me-Logo.svg";
import BigDataRPGLogo from "@assets/sponsors/BigData_RPG.webp";
import BlueOnDataLogo from "@assets/sponsors/Blue_on_Data.webp";
import BornToDevLogo from "@assets/sponsors/BorntoDev.webp";
import DataTHLogo from "@assets/sponsors/Data_TH.webp";
import MilsBlogLogo from "@assets/sponsors/Mils_Blog.webp";
import NextFlowLogo from "@assets/sponsors/Next_Flow.webp";
import OSEDALogo from "@assets/sponsors/OSEDA.webp";
import PyLadiesBangkokLogo from "@assets/sponsors/PyLadies_Bangkok.webp";
import SparkTechThailandLogo from "@assets/sponsors/Spark_Tech_Thailand.webp";
import NaviCatLogo from "@assets/sponsors/Navicat_logo_Landscape.svg";
import AWSLogo from "@assets/sponsors/AWS_logo_RGB_1c_Gray850.svg";
import IkigaiLogo from "@assets/sponsors/ikigai-logo-cropped.webp";

const patrons = [
  {
    name: "Bank of Agriculture",
    logo: BankOfAgricultureLogo,
    height: 100,
    url: "https://www.baac.or.th",
  },
  {
    name: "Event Pop",
    logo: EventPopLogo,
    url: "https://www.eventpop.me",
  },
  {
    name: "Thai Programmer Association",
    logo: ThaiProgrammerAssociationLogo,
    url: "https://thaiprogrammer.org",
  },
  {
    name: "Microsoft",
    logo: MicrosoftLogo,
    url: "https://www.microsoft.com",
  },
  {
    name: "Nattawat",
    logo: NattawatLogo,
    height: 120,
    url: "https://nattawatt.com",
  },
  {
    name: "Sukjai Lab",
    height: 100,
    logo: SukjaiLogo,
  },
  {
    name: "PacktLogo",
    logo: PacktLogo,
    height: 100,
    url: "https://www.packtpub.com",
  },
  {
    name: "Jirachai.me",
    logo: JirachaiMeLogo,
    height: 100,
    url: "https://blog.jirachai.me",
  },
  {
    name: "Ikigai",
    logo: IkigaiLogo,
    height: 100,
    url: "https://www.ikigaidigital.io",
  },
];

const silver = [
  {
    name: "DataRockie",
    logo: DataRockieLogo,
    height: 150,
    url: "https://datarockie.com",
  },
  {
    name: "MyOrder",
    logo: MyOrderLogo,
    height: 150,
    url: "https://myorder.ai",
  },
  {
    name: "Navicat",
    logo: NaviCatLogo,
    height: 150,
    url: "https://www.navicat.com",
  },
];
const communityPartners = [
  {
    name: "BigData RPG",
    logo: BigDataRPGLogo,
    height: 100,
    url: "https://bigdatarpg.com",
  },
  {
    name: "Blue on Data",
    logo: BlueOnDataLogo,
    height: 100,
    url: "https://www.youtube.com/@blueondata",
  },
  {
    name: "BorntoDev",
    logo: BornToDevLogo,
    height: 100,
    url: "https://www.borntodev.com",
  },
  {
    name: "Data TH",
    logo: DataTHLogo,
    height: 100,
    url: "https://blog.datath.com",
  },
  {
    name: "Mils' Blog",
    logo: MilsBlogLogo,
    height: 100,
    url: "https://mesodiar.com",
  },
  {
    name: "Next Flow",
    logo: NextFlowLogo,
    height: 100,
    url: "https://nextflow.in.th",
  },
  {
    name: "OSEDA",
    logo: OSEDALogo,
    height: 100,
    url: "https://oseda.or.th",
  },
  {
    name: "PyLadies Bangkok",
    logo: PyLadiesBangkokLogo,
    height: 100,
    url: "https://www.facebook.com/pyladiesbkk",
  },
  {
    name: "Spark Tech Thailand",
    logo: SparkTechThailandLogo,
    height: 100,
    url: "https://www.facebook.com/SparkTechTH",
  },
  // {
  //     name: "ThaiPy",
  //     logo: ThaiPyLogo,
  //     height: 100,
  //     url: "https://www.meetup.com/thaipy-bangkok-python-meetup"
  // }
];
---

<div id="sponsor" class="flex flex-col items-center px-8 md:px-0">
  <h2 class="mt-20 text-3xl font-semibold text-primary">Sponsors / Partners</h2>

  <!-- Start: Sponsor rank -->
  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">Headline</h2>
    <!-- Separator animation -->
    <LineSeparator client:load />
  </div>
  <!-- End: Sponsor rank -->

  <!-- Start : ODDS -->
  <div class="card w-56 bg-base-100">
    <figure class="p-5">
      <a href="https://odds.team" target="_blank" rel="noopener noreferrer">
        <Image src={OddsLogo} alt="ODDS Logo" />
      </a>
    </figure>
  </div>
  <!-- End : ODDS -->

  <!-- Start: Sponsor rank -->
  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">
      Python Software Foundation
    </h2>
    <!-- Separator animation -->
    <LineSeparator client:load />
  </div>
  <!-- End: Sponsor rank -->
  <!-- Start : Python Software Foundation -->
  <div class="card w-72 bg-base-100">
    <figure class="p-5">
      <a
        href="https://www.python.org/psf-landing"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image
          src={PSFLogo}
          height={150}
          class="items-center"
          alt="Python Software Foundation Logo"
        />
      </a>
    </figure>
  </div>
  <!-- End : Python Software Foundation -->

  <!-- Start: Sponsor rank -->

  <!-- Start Platinum -->
  <h2 class="mb-4 mt-10 text-2xl font-semibold text-primary">Platinum</h2>
  <div class="flex items-center gap-x-4 max-md:flex-col">
    <div class="card mb-4 w-56 bg-base-100 shadow-xl">
      <figure class="p-5">
        <a
          href="https://aws.amazon.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image src={AWSLogo} height={150} class="items-center" alt="AWS" />
        </a>
      </figure>
    </div>
  </div>
  <!-- End Platinum -->

  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">Gold</h2>
    <!-- Separator animation -->
    <LineSeparator client:load />
  </div>
  <!-- End: Sponsor rank -->

  <!-- Start : Creatorsgarten -->
  <div class="card w-56 bg-base-100">
    <figure class="p-5">
      <a
        href="https://creatorsgarten.org/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image
          src={CreatorsGartenLogo}
          height={100}
          class="items-center"
          alt="Creatorsgarten Logo"
        />
      </a>
    </figure>
  </div>
  <!-- End : Creatorsgartenn -->

  <!-- Start: Sponsor rank -->
  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">Silver</h2>
    <!-- Separator animation -->
    <LineSeparator client:load />
  </div>
  <!-- End: Sponsor rank -->

  <div class="flex items-center gap-x-4 max-md:flex-col">
    {
      silver.map((item) => (
        <div class="card w-56 bg-white">
          <figure class="my-4 p-5">
            <a href={item.url} target="_blank" rel="noopener noreferrer">
              <Image
                src={item.logo}
                height={150}
                class="items-center"
                alt="DataRockie"
              />
            </a>
          </figure>
        </div>
      ))
    }
  </div>

  <!-- Start: Sponsor rank -->
  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">Patron</h2>
    <!-- Separator animation -->
    <LineSeparator client:load />
  </div>
  <!-- End: Sponsor rank -->

  <div class="flex w-full items-center justify-between max-md:flex-col">
    {
      patrons.map((patron) => {
        const image = (
          <Image
            src={patron.logo}
            height={patron?.height ?? 150}
            class="items-center"
            alt={`${patron.name} Logo`}
          />
        );
        return (
          <div class="card bg-white md:w-20 lg:w-40">
            <figure class="my-4 md:p-1 lg:p-5">
              {patron.url ? (
                <a href={patron.url} target="_blank" rel="noopener noreferrer">
                  {image}
                </a>
              ) : (
                <>{image}</>
              )}
            </figure>
          </div>
        );
      })
    }
  </div>

  <!-- Start: Sponsor rank -->
  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">
      Community Partner
    </h2>
    <!-- Separator animation -->
    <LineSeparator client:load />
  </div>
  <!-- End: Sponsor rank -->

  <div class="flex w-full items-center justify-between max-md:flex-col">
    {
      communityPartners.map((communityPartner) => {
        const image = (
          <Image
            src={communityPartner.logo}
            height={communityPartner?.height ?? 150}
            class="items-center"
            alt={`${communityPartner.name} Logo`}
          />
        );
        return (
          <div class="card bg-white md:w-20 lg:w-40">
            <figure class="my-4 md:p-1 lg:p-5">
              {communityPartner.url ? (
                <a
                  href={communityPartner.url}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {image}
                </a>
              ) : (
                <>{image}</>
              )}
            </figure>
          </div>
        );
      })
    }
  </div>
</div>
