---
import { Image } from "astro:assets";
import PSFLogo from "@assets/sponsors/psf-logo.webp";
import BankOfAgricultureLogo from "@assets/sponsors/bank_of_agriculture.webp";
import DataRockieLogo from "@assets/sponsors/data-rockie.webp";
import EventPopLogo from "@assets/sponsors/eventpop_primary_RGB.webp";
import ThaiProgrammerAssociationLogo from "@assets/sponsors/ThaiProgrammerAssociation.svg";
import MicrosoftLogo from "@assets/sponsors/Microsoft.webp";
import NattawatLogo from "@assets/sponsors/nattawat.png";
import LineSeparator from "@/components/react/ui/LineSeparator";
import OddsLogo from "@assets/sponsors/ODDS.png";

const patrons = [
  {
    name: "Bank of Agriculture",
    logo: BankOfAgricultureLogo,
    height: 100,
    url: "https://www.baac.or.th",
  },
  {
    name: "Event Pop",
    logo: EventPopLogo,
    url: "https://www.eventpop.me",
  },
  {
    name: "Thai Programmer Association",
    logo: ThaiProgrammerAssociationLogo,
    url: "https://thaiprogrammer.org",
  },
  {
    name: "Microsoft",
    logo: MicrosoftLogo,
    url: "https://www.microsoft.com",
  },
  {
    name: "Nattawat",
    logo: NattawatLogo,
    height: 100,
    url: "https://nattawatt.com",
  },
];
---

<div id="sponsor" class="flex flex-col items-center px-8 md:px-0">
  <h2 class="mt-20 text-3xl font-semibold text-primary">Sponsors / Partners</h2>

  <!-- Start: Sponsor rank -->
  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">Headline</h2>
    <!-- Separator animation -->
    <LineSeparator client:load />
  </div>
  <!-- End: Sponsor rank -->

  <!-- Start : ODDS -->
  <div class="card w-56 bg-base-100">
    <figure class="p-5">
      <a href="https://odds.team" target="_blank" rel="noopener noreferrer">
        <Image src={OddsLogo} alt="ODDS Logo" />
      </a>
    </figure>
  </div>
  <!-- End : ODDS -->

  <!-- Start: Sponsor rank -->
  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">
      Python Software Foundation
    </h2>
    <!-- Separator animation -->
    <LineSeparator client:load />
  </div>
  <!-- End: Sponsor rank -->
  <!-- Start : Python Software Foundation -->
  <div class="card w-72 bg-base-100">
    <figure class="p-5">
      <a
        href="https://www.python.org/psf-landing"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image
          src={PSFLogo}
          height={150}
          class="items-center"
          alt="Python Software Foundation Logo"
        />
      </a>
    </figure>
  </div>
  <!-- End : Python Software Foundation -->

  <!-- Start: Sponsor rank -->
  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">Silver</h2>
    <!-- Separator animation -->
    <LineSeparator client:load />
  </div>
  <!-- End: Sponsor rank -->

  <div class="flex items-center gap-x-4 max-md:flex-col">
    <div class="card w-56 bg-white">
      <figure class="my-4 p-5">
        <a
          href="https://datarockie.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image
            src={DataRockieLogo}
            height={150}
            class="items-center"
            alt="DataRockie"
          />
        </a>
      </figure>
    </div>
  </div>

  <!-- Start: Sponsor rank -->
  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">Patron</h2>
    <!-- Separator animation -->
    <LineSeparator client:load />
  </div>
  <!-- End: Sponsor rank -->

  <div class="flex items-center gap-x-4 max-md:flex-col">
    {
      patrons.map((patron) => {
        const image = (
          <Image
            src={patron.logo}
            height={patron?.height ?? 150}
            class="items-center"
            alt={`${patron.name} Logo`}
          />
        );
        return (
          <div class="card w-56 bg-white">
            <figure class="my-4 p-5">
              {patron.url ? (
                <a href={patron.url} target="_blank" rel="noopener noreferrer">
                  {image}
                </a>
              ) : (
                <>{image}</>
              )}
            </figure>
          </div>
        );
      })
    }
  </div>
</div>
